# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/project-19.iml
*.iml
out
gen
