.battleMenu{
    -fx-background-image: url("images/battleBackground2.jpg");
}
.cells{
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-background-image: url("images/cells.png");
}
.hoveredCells{
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-background-image: url("images/cellsHover.png");
}
.endTurnButton{
    -fx-background-image: url("images/button_secondary.png");
    -fx-background-size: cover;
}
.aPLabel {
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-font-size: 20px;
    -fx-text-fill: yellow;
    -fx-alignment: center;
}

.hPLabel {
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-font-size: 20px;
    -fx-text-fill: red;
    -fx-alignment: center;
}
.aPLabelSmall {
    -fx-pref-width: 12.5;
    -fx-pref-height: 12.5;
    -fx-font-size: 10px;
    -fx-text-fill: yellow;
    -fx-alignment: center;
}

.hPLabelSmall {
    -fx-pref-width: 12.5;
    -fx-pref-height: 12.5;
    -fx-font-size: 10px;
    -fx-text-fill: red;
    -fx-alignment: center;
}