.mainMenu{
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover;
}
.menuText{
    -fx-font-family: Lato-Light;
    -fx-font-size: 45;
}
.menuImageDesc{
    -fx-font-size: 17;
}
.loginMenu{
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover;
}
.loginPane{
    -fx-fill: black;
}
.jfx-tab-pane .headers-region {
    -fx-background-color: rgb(41,41,42);
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: rgb(41,41,42);
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: rgb(241,111,32);
    -fx-stroke-width: 56pt;
}
