.mainMenu {
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover;
}

.playMode {
    -fx-background-image: url("images/play_mode_background.jpg");
    -fx-background-size: cover;
}

.customCard {
    -fx-background-image: url("images/customCard_background.jpg");
    -fx-background-size: cover;
}

.battleMenu {
    -fx-background-image: url("images/battleBackground2.jpg");
}

.menuText {
    -fx-font-family: Lato-Light;
    -fx-font-size: 45;
}

.menuImageDesc {
    -fx-font-size: 17;
}

.loginPane {
    -fx-fill: black;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: rgb(41, 41, 42);
}

.soldierCard {
    -fx-pref-width: 200;
    -fx-pref-height: 230;
    -fx-background-image: url("images/soldierCard.jpg");
    -fx-background-size: cover;
}

.spellCard {
    -fx-pref-width: 200;
    -fx-pref-height: 230;
    -fx-background-image: url("images/spellCard.png");
    -fx-background-size: cover;
}

.item {
    -fx-pref-width: 200;
    -fx-pref-height: 230;
    -fx-background-image: url("images/item.png");
    -fx-background-size: cover;
}

.labelName {
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-font-size: 17px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.aPLabel {
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-font-size: 20px;
    -fx-text-fill: yellow;
    -fx-alignment: center;
}

.hPLabel {
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-font-size: 20px;
    -fx-text-fill: red;
    -fx-alignment: center;
}

.manaLabel {
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.kindLabel {
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-font-size: 15px;
    -fx-text-fill: gray;
    -fx-alignment: center;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: rgb(41, 41, 42);
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: rgb(241, 111, 32);
    -fx-stroke-width: 56pt;
}

.scroll-bar:vertical {
    -fx-pref-width: 15px;
    -fx-background-color: #1a3a9b;
}

.searchBar {
    -fx-background-radius: 20px;
    -fx-background-color: #3d4044;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-text-alignment: center;
}

.errorLabel {
    -fx-font-size: 20px;
    -fx-text-fill: red;
}

.moneyLabel {
    -fx-font-size: 20px;
    -fx-text-fill: yellow;
    -fx-background-color: #3d4044;
    -fx-background-radius: 20px;
}

.priceLabel{
    -fx-font-size: 12px;
    -fx-text-fill: gold;
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: transparent;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: transparent;
    -fx-stroke-width: 3pt;
}

.tabStyle {
    -fx-font-size: 20px;
}

.alertBox {
    -fx-text-fill: Black;
    -fx-font-size: 50;
}

.menuText *:hover {
    -fx-text-fill: red;
}

.menuText * {
    -fx-text-fill: white;
}

.decks {
    -fx-pref-width: 470;
    -fx-pref-height: 60;
    -fx-background-color: #4cb8ff;
    -fx-background-radius: 10px ;
}

.cardsInDeck {
    -fx-pref-width: 460;
    -fx-pref-height: 60;
    -fx-background-image: url("images/deckCard.png");
}

.textInput {
    -fx-background-color: white;
    -fx-font-size: 30;
    -fx-pref-width: 308;
    -fx-pref-height: 56;
}

.labelInput {
    -fx-font-size: 45;
    -fx-text-fill: #cece00;
}

.buffAnchors {
    -fx-pref-width: 330;
    -fx-pref-height: 300;
}

.addBuffBtn {
    -fx-background-color: #793dff;
    -fx-pref-width: 308;
    -fx-pref-height: 56;
    -fx-text-fill: Black;
}

.setMainDeckBtn {
    -fx-font-size: 25px;
    -fx-pref-width: 250;
    -fx-pref-height: 80;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-text-alignment: Center;
    -fx-background-color: transparent;
}

.importButton{
    -fx-background-image: url(images/rightButton.png);
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-font-size: 25px;
}

.importButtonGlow{
    -fx-background-image: url(images/rightButtonGlow.png);
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-font-size: 25px;
}

.deleteButton{
    -fx-pref-width: 30;
    -fx-pref-height: 15;
    -fx-background-color: gray;
    -fx-background-image: url("images/bin.png");
    -fx-background-size: cover;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 10px;
}